[submodule "3rdparty/sdl"]
	path = 3rdparty/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/glad"]
	path = 3rdparty/glad
	url = https://github.com/Dav1dde/glad
	branch = glad2
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "3rdparty/bx"]
	path = 3rdparty/bx
	url = https://github.com/bkaradzic/bx
[submodule "3rdparty/bimg"]
	path = 3rdparty/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest
[submodule "3rdparty/rxcpp"]
	path = 3rdparty/rxcpp
	url = https://github.com/ReactiveX/RxCpp
